.container-text-banner{
    position: absolute;
    top: 40px;
    left: 16px;
    @media (min-width: 991px) {
        left: 32px;
    }
}

.btn-beneficio{
    background-color: $color-light-blue;
    border-color: $color-light-blue;
    &:hover{
        background-color: $color-light-blue;
        border-color: $color-light-blue;
        color: $color-blanco;
    }
}