.bg-footer{
    background-color: $color-negro;
    .container-footer{
        padding: 4rem;
    }
}

.social-icon{
    width: 32px;
    height: 32px;
}

.bg-footer-2{
    background-color: $color-dark-grey;
}

.qr-icon{
    width: 36px;
    height: auto;
}