.tag{
    .text-tag{
        background-color: $color-pink;
        font-size: 14px;
        width: fit-content;
        color: $color-blanco;
        border-radius: 5px;
        padding: 0.25rem 0.5rem;
    }
}